<p id="notice"><%= notice %></p>

<div>
  <h3>Patient:</h3>
<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @patient.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>
</div>

<% if @patient.visits.count > 0 %>
  </br>
  <h3>Visits:</h3>
  <% @patient.visits.map do |v| %>
    <div>

      <p>
        <strong>Visit description:</strong>
        <%= v.description %>
      </p>

      <p>
        <strong>Doctor:</strong>
        <%= "#{Doctor.find(v.doctor_id).name} #{Doctor.find(v.doctor_id).surname}" %>
      </p>

      <p>
        <strong>About:</strong>
        <%= Doctor.find(v.doctor_id).description %>
      </p>

      <p>
        <strong>Visit price:</strong>
        <%= v.price %>
      </p>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>
  	You don't have any scheduled visits.
  </p>
  <p>
  	<%= link_to 'Plan a visit', new_visit_path %>
  </p>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
